/* todo reset css */
/* todo textoverflow */
/* dynamic margin */


/* todo ! webkit-box */
/* todo ! блоки занимают всю ширину. */

/* todo optional: style-lint, stylys, jade */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
    background: lightgrey;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

html, body {
    height: 100%;
}

.content {
    flex: 1;
}

.heading {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 20px;
    margin: 20px 0;
}

.footer {
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.gallery-item {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 1;
}

.gallery-item__image {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.gallery-item__title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .gallery-item:nth-child(7n) {
        flex-basis: 550px;
    }

    .gallery-item:nth-child(4n) {
        flex-basis: 460px;
    }
}