* {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @media (--tablet) {
        font-size: 24px;
    }
    @media (--desktop) {
        font-size: 28px;
    }
}

.body {
    font-family: Arial, sans-serif;
    background: lightgrey;

    &_no-scroll {
        overflow: hidden;
    }
}

.page {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    background: lightgrey;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh;

    &__heading {
        margin-top: 20px;
        font-size: 1.3rem;
        font-weight: bold;
    }

    &__description {
        font-size: 1rem;
        margin: 20px auto;
        line-height: 1.4rem;
    }

    &__content {
        flex: 1;
    }

    &__footer {
        margin: 20px 0;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    flex-direction: column;

    @media (--tablet) {
        flex-direction: row;
    }
}

.gallery-item {
    display: flex;
    margin: 10px;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 1;
    background-color: #fff;
    cursor: pointer;
    min-height: 300px;

    &__image {
        height: 250px;
        width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
    }

    &__title {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 0 20px;
        white-space: nowrap;
    }

    @media (--tablet) {
        &:nth-child(7n) {
            flex-basis: 550px;
        }
        &:nth-child(4n) {
            flex-basis: 460px;
        }
    }
}